<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://www.claro.com.pe/portal/pe/recursos_tema/assets/img/favicon.ico">
        <title>Listao de Repositorios Havas</title>
    </head>
    <body>
        <slot />
    </body>
</html>
